
body{
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #25415d;
}

/* Nav bar */
.topnav {
    overflow: hidden;
    background-color: #25415d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    font-weight: 700;
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    padding-right: 40px;
    display: block;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: #00A99D;
  }

  /*End Nav bar */

/*Profile Image*/
.profile-image { 
    margin-top: 150px;
    margin-left: 250px;
    float: left;
    width: 240px;
    height: auto;
    border-radius: 50%;
}
/*End Profile Image*/

/* Maria profile text*/
.card {
    box-shadow: 0 4px 8px 0 rgba(61, 152, 194, 0.2);
    width: 40%;
    float:right;
    text-align: center;
    margin-top: 200px;
    margin-right: 200px;
    border-left: 2px #25415d solid;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
  }

/*End Maria profile text*/

/*Maria Cano title*/
h1 {
    color: #25415d;
    font-size: 28px;
  }
/*Maria Cano title*/

/*SiteBites link*/
.link-to-web {
    cursor: pointer;
    text-decoration: none;
    color: #25415d;
    
}
.link-to-web:visited {
    cursor: pointer;
    text-decoration: none;
    color: #25415d;
}
/*End SiteBites link*/

/*Linkedin icon*/
  .fa {
    padding: 10px;
    font-size: 18px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 15px 2px;
  }

.fa-linkedin {
    background: #007bb5;
    color:white;
    border-radius: 5px;
}
.a-fa-linkedin:hover {
    opacity: 0.7;
}
/*End Linkedin icon*/

/*For all the sections*/

h2 {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
    background: #00a99eb4;
    position: relative;
}

img {
    border-radius: 15px;
}
/* End all the sections*/

/*footer*/
footer {
    padding-top:30px;
}
/*End footer*/