
body{
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #25415d;
}

/* Nav bar */
.topnav {
    overflow: hidden;
    background-color: #25415d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    font-weight: 700;
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    padding-right: 40px;
    display: block;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: #00A99D;
  }

/*End Nav bar */

/*Welcome animation*/

#welcome {
    width: 50%;
    height: 20px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
    font-size: 28px;
    color: #00A99D;
    font-weight: 700;
    animation-name: bounce;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
}

@keyframes bounce {
  0% {
    top: 20px;
  }
  50% {
    top: 80px; 
    width: 50%;
    height: 20px;
  }
  100% {
    top: 0px;
  }

}
/*End Welcome animation*/

/*Profile Image*/
.profile-image { 
    margin-top: 100px;
    margin-left: 450px;
    float: left;
    width: 240px;
    height: auto;
    border-radius: 50%;
}
/*End Profile Image*/

/* Maria profile text*/
.card {
    box-shadow: 0 4px 8px 0 rgba(61, 152, 194, 0.2);
    width: 40%;
    float:right;
    text-align: center;
    margin-top: 150px;
    margin-right: 200px;
    border-left: 2px #25415d solid;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
  }

/*End Maria profile text*/

/*Maria Cano title*/
h1 {
    color: #25415d;
    font-size: 28px;
  }
/*Maria Cano title*/

/* SiteBites button*/
#button1 {
    border-radius: 5px;
    color: white;
    background-color: #25415d;
    padding: 5px 10px 8px 10px;
}
#button1:hover {
  animation-name: background-color;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  0% {
    background-color:#25415d;
  }
  50% {
   background-color: #00a99eb4;
  }
  100% {
   background-color: #00A99D;
  }
} 
/* End SiteBites button*/

/*SiteBites link*/
.link-to-web {
    cursor: pointer;
    text-decoration: none;
  
    
}
.link-to-web:visited {
    cursor: pointer;
    text-decoration: none;
  
}
/*End SiteBites link*/

/*Linkedin icon*/
  .fa {
    padding: 10px;
    font-size: 18px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 15px 2px;
  }

.fa-linkedin {
    background: #007bb5;
    color:white;
    border-radius: 5px;
}
.a-fa-linkedin:hover {
    opacity: 0.7;
}
/*End Linkedin icon*/

/*For all the sections*/

h2 {
    margin-top: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background: #00a99eb4;
    position: relative;
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif;

}
/* Links*/
.links:link {
  color: #25415d;
  font-weight: 700;
  text-decoration: none;
}
.links:visited {
  color: #25415d;
  font-weight: 700;
  text-decoration: none;
}
.links:hover {
  color: #25415d;
  font-weight: 700;
  text-decoration: none;
}
.links:active {
  color: #25415d;
  font-weight: 700;
  text-decoration: none;
}
/* End links*/

/*Images*/
.transform-scale {
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 15%;
}

.transform-scale:hover { 
    padding-right:35px;
    padding-left: 15px;
    transform: scale(1.1);
    
}
/*End Images*/

/* End all the sections*/

/* Start Button */
#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #25415dc7;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 99;
}

#btnScrollToTop:active {
  background: #00a99eb4;
}
/* End Button*/

/*footer*/
footer {
    padding-top:30px;
}
/*End footer*/